/* your_app/static/your_app/css/styles.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    margin-left: 100px; /* Add larger left margin */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #4CAF50;
    font-size: 3em;
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color: #666;
    margin-top: 10px;
    line-height: 1.4;
    background: #fff; /* Background color for the box */
    padding: 15px;    /* Padding inside the box */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid #ddd; /* Optional: Light border */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li h2 {
    margin-top: 0;
}

ul li p {
    font-size: 1em;
    color: #666;
}

ul li ul {
    margin-top: 10px;
}

ul li ul li {
    background: #e8f5e9;
    padding: 10px;
    margin: 5px 0;
    border-left: 4px solid #4CAF50;
}

ul li ul li:nth-child(even) {
    background: #f1f8e9;
}

.instructions {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-left: 6px solid #4CAF50;
}

.instructions p {
    margin: 0;
    font-size: 1.1em;
    color: #444;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
