<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Receitas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Receitas</h1>
        <ul>
            {% for recipe in recipes %}
                <li>
                    <a href="/recipes/{{ recipe.id }}/">{{ recipe.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        &copy; Korok Recipes
    </footer>
</body>
</html>
